body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #f0f8ff;
    color: #001f3f;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    background: #dff0ff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.header {
    text-align: center;
    margin-bottom: 10px;
}

.header h1 {
    color: #0033a0;
    font-size: 36px;
    margin-bottom: 15px;
}
.apresentacao {
    display: flex;
    align-items: center; 
    gap: 40px; 
    margin-bottom: 0;
}

.texto-apresentacao {
    flex: 1; 
}

.texto-apresentacao h2 {
    color: #0033a0;
    font-weight: normal;
    margin: 0;
}

.foto-container {
    flex-shrink: 0; 
}

.minha-foto {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    object-fit: cover; 
    
}

h2, h3, p {
    margin-top: 0;
  }
  
  h2 {
    margin-bottom: 0; 
  }
  
  h3 {
    margin-bottom: 4px;
  }
